<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Starfield_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<userSettings>
		<Starfield_Tools.Properties.Settings>
   <setting name="AutoCheck" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoClean" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoBackup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoRestore" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StarfieldPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ForceClean" serializeAs="String">
    <value>False</value>
   </setting>
  </Starfield_Tools.Properties.Settings>
	</userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
