<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Starfield_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Starfield_Tools.Properties.Settings>
   <setting name="AutoCheck" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoClean" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoBackup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoRestore" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StarfieldGamePath" serializeAs="String">
    <value />
   </setting>
   <setting name="ForceClean" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GameVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ProfileFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastProfile" serializeAs="String">
    <value />
   </setting>
   <setting name="LoadScreenFilename" serializeAs="String">
    <value />
   </setting>
   <setting name="Achievements" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CreationsID" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Files" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LOOTPath" serializeAs="String">
    <value />
   </setting>
   <setting name="Verbose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Group" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoDelccc" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProfileOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Index" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CustomEXE" serializeAs="String">
    <value />
   </setting>
   <setting name="FileSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TimeStamp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LooseFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoUpdate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ActiveOnly" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="VortexPath" serializeAs="String">
    <value />
   </setting>
   <setting name="URL" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoSort" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DarkMode" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CompareProfiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MO2Path" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoReset" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GamePathMS" serializeAs="String">
    <value />
   </setting>
   <setting name="Version" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AuthorVersion" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Showtime" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ActivateNew" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormWidth" serializeAs="String">
    <value>1800</value>
   </setting>
   <setting name="FormHeight" serializeAs="String">
    <value>917</value>
   </setting>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="NoWarn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LOOTEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Description" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Blocked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CreationsUpdate" serializeAs="String">
    <value>False</value>
   </setting>
  </Starfield_Tools.Properties.Settings>
	</userSettings>
</configuration>